.row{
    margin-right: -13px;
    margin-left: -13px;
    margin-top: 3px;
}
#muestra{
    text-align: center;
    display: none;
}
body,body>div{
    height: 100%;
}
html{
    height: 99%;
}
body > div > div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
body > div > div > div{
    width: 100%;
}
.centerImg{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    margin-top: 30px !important;
    color: white !important;
    height: 70px;
    background-color: #0084c2 !important;
    font-size: 28px !important;
    font-weight: bold !important;
    text-decoration: none !important;
    border-radius: 0 !important;
}

button:active{
    background-color: white !important;
    color: #0084c2 !important;
}
